{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titanic App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header style="position: fixed;width: 100%;top: 0;">
        <nav>
            <ul>
                <li><a href="/">Upload Excel</a></li>
                <li><a href="/manage_titanic">Manage Titanic Data</a></li>
                <li><a href="/titanic_data_grid">View Titanic Data</a></li>
            </ul>
        </nav>
    </header>

    <main style="margin-top: 70px;">
        {% block content %}
        {% endblock %}
    </main>

    <footer style="margin-top: 20px;">
        <p>Titanic App</p>
    </footer>

    {% block extra_js %}
    {% endblock %}
</body>
</html>
